* { /* Reset */
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    clear: both;
	list-style-type: none;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}
